{% extends 'catalog/base.html' %}
{% block main_menu %}
  {% include 'catalog/menu.html' %}
{% endblock %}
{% block content %}
  <h1>{{ post.title }}</h1>
  {% if post.image %}
    <p><img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 400px;"></p>
  {% endif %}
  <div>{{ post.content|linebreaks }}</div>
  <p>Просмотры: {{ post.views }}</p>
  <p>
    {% if request.user.is_authenticated and request.user.has_perms:"blog.change_blogpost,blog.delete_blogpost" %}
      <a href="{% url 'blog:blog_update' post.pk %}">Редактировать</a> |
      <a href="{% url 'blog:blog_delete' post.pk %}">Удалить</a> |
    {% endif %}
    <a href="{% url 'blog:blog_list' %}">К списку</a>
  </p>
{% endblock %}
